<i class="fa fa-cog fa-5x fa-spin loading" ng-if="loading"></i>

<nav ng-class="getNavStyle(scroll)">
  <button ng-click="goPrevious()"><</span></button>
  <button ng-click="goNext()">></span></button>

  <button ng-click="zoomIn()">+</span></button>
  <button ng-click="fit()">100%</span></button>
  <button ng-click="zoomOut()">-</span></button>

  <button ng-click="rotate()">90</span></button>

  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>

  <span>Document URL: </span>
  <input type="text" ng-model="pdfUrl">
</nav>

<div class="sidebar sidebar--menu">
  <a class="button button--circle">
    <i class="fa fa-search"></i>
    <div class="button__title">Textstelle suchen</div>
  </a>

  <a class="button button--circle">
    <i class="fa fa-pencil-square-o"></i>
    <div class="button__title">Textstelle markieren</div>
  </a>

  <a class="button button--circle">
    <i class="fa fa-link"></i>
    <div class="button__title">Link erstellen</div>
  </a>

  <a class="button button--circle">
    <i class="fa fa-book"></i>
    <div class="button__title">Im Wörterbuch nachschlagen</div>
  </a>
</div>
