<div class="sidebar sidebar--menu">
  <a class="button button--circle">
    <i class="fa fa-search"></i>
    <div class="button__title">Textstelle suchen</div>
  </a>

  <a class="button button--circle">
    <i class="fa fa-pencil-square-o"></i>
    <div class="button__title">Textstelle markieren</div>
  </a>

  <a class="button button--circle">
    <i class="fa fa-link"></i>
    <div class="button__title">Link erstellen</div>
  </a>

  <a class="button button--circle">
    <i class="fa fa-book"></i>
    <div class="button__title">Im Wörterbuch nachschlagen</div>
  </a>
</div>
